.f_forms{
    margin-left: 25%;
}
.f_switch{
    animation-duration: 0.3s;
    position: absolute;
    width: 48%;
    height: 107%;
    background-color: #ffffff;
    left: 26%;
    top: -3%;
    z-index: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    animation-name: slidemiddle;
}