/* global styles */
$font-stack: 'Titillium Web', sans-serif;
$white: #ffffff;
$grey: #aaaaaa;
$yellow: #f3e942;
$back: linear-gradient(to right, #0086C9, #4BC9EC);;
$green: #0086C9;
$drkblue: rgb(0, 50, 75);
$black: #3E3E3E;
$first: #EE7F00;